<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
          <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">
        
        <link href="assets/css/bootstrap-datetimepicker.css" rel="stylesheet">


        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />   
    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
            <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
            <a href="#" class="toll-free display_block">
            <i class="fa fa-phone"></i> 1-877-401-1796
        </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->

        
	<section class="quick-section section seocnd_img">
        <h2 class="quick-title wow fadeInDownBig">Book The Best Shuttle Service </h2>
				<div class="form-section new-comment  wow fadeInDownBig">
			<div class="container quick-container">			
				<div class="col-md-4">
                                        <div class="form-group">
                                            <label for="Passangers-Range" class="form-label">Resort</label>
                                            <select name="resort" id="resort" class="form-control">
                                                <option value="0" selected="">Select your resort</option>
                                                <option value="28">Bahia Hotel</option>
                                                <option value="4">Barceló Grand Faro Los Cabos</option>
                                                <option value="64">Bel Air Collection Resort &amp; Spa</option>
                                                <option value="6">Breathless Cabo San Lucas Resort &amp; Spa</option>
                                                <option value="70">Cabo Azul Resort</option>
                                                <option value="46">Cabo Bello Residencial Area</option>
                                                <option value="61">Cabo Surf Hotel &amp; Spa</option>
                                                <option value="25">Cabo Villas</option>
                                                <option value="80">Casa del Mar</option>
                                                <option value="27">Casa Dorada</option>
                                                <option value="33">Chileno Bay</option>
                                                <option value="15">Club Cascadas de Baja</option>
                                                <option value="78">Diamante Cabo San Lucas </option>
                                                <option value="54">Dreams Los Cabos Suites Golf Resort &amp; Spa</option>
                                                <option value="49">El Dorado Residencial &amp; Golf Course </option>
                                                <option value="75">El Encanto de la Laguna Beachfront Community</option>
                                                <option value="72">El Ganzo Hotel</option>
                                                <option value="42">Esperanza An Auberge Resort</option>
                                                <option value="37">Fairfield Inn Los Cabos</option>
                                                <option value="55">Fiesta Americana Grand Los Cabos All Inclusive Golf &amp; Spa</option>
                                                <option value="20">Grand Solmar</option>
                                                <option value="24">Hacienda Beach</option>
                                                <option value="41">Hacienda Encantada Resort &amp; Spa</option>
                                                <option value="50">Hilton Los Cabos Beach &amp; Golf Resort</option>
                                                <option value="71">Holiday Inn Resort Los Cabos All-Inclusive</option>
                                                <option value="67">Hyatt Ziva Los Cabos</option>
                                                <option value="74">JW Marriott Los Cabos Beach Resort &amp; Spa</option>
                                                <option value="5">Las Mañanitas Condominium Resort </option>
                                                <option value="62">Las Olas Condo - Surfers Paradise</option>
                                                <option value="52">Las Ventanas al Paraiso, A Rosewood Resort</option>
                                                <option value="36">Los Cabos Golf Resort</option>
                                                <option value="79">Mar Adentro</option>
                                                <option value="34">Marina Cabo Plaza</option>
                                                <option value="30">Marina Fiesta</option>
                                                <option value="29">Marina Sol</option>
                                                <option value="77">Marquis Los Cabos All Inclusive Resort &amp; Spa</option>
                                                <option value="26">Me Cabo</option>
                                                <option value="47">Misiones del Cabo Resort</option>
                                                <option value="63">Mykonos Bay Resort</option>
                                                <option value="59">One &amp; Only Palmilla Resort</option>
                                                <option value="51">Paradisus Los Cabos</option>
                                                <option value="48">Pedregal Residencial Area</option>
                                                <option value="22">Playa Grande</option>
                                                <option value="76">Posada Real Los Cabos</option>
                                                <option value="13">Pueblo Bonito Los Cabos (Blanco)</option>
                                                <option value="12">Pueblo Bonito MonteCristo</option>
                                                <option value="11">Pueblo Bonito Pacifica</option>
                                                <option value="14">Pueblo Bonito Rose</option>
                                                <option value="10">Pueblo Bonito Sunset Beach</option>
                                                <option value="60">Querencia Golf Club &amp; Residencial Community</option>
                                                <option value="40">Quinta Del Sol Hotel</option>
                                                <option value="31">Riu Palace</option>
                                                <option value="32">Riu Santa Fe</option>
                                                <option value="66">Royal Decameron Los Cabos</option>
                                                <option value="69">Royal Solaris All Inclusive Resort</option>
                                                <option value="23">Sandos Finisterra</option>
                                                <option value="43">Santa Carmela Residencial Area</option>
                                                <option value="73">Secrets Puerto Los Cabos Golf &amp; Spa Resort</option>
                                                <option value="38">Seven Crown Express &amp; Suites</option>
                                                <option value="56">Sheraton Hacienda del Mar Golf Resort</option>
                                                <option value="19">Solmar</option>
                                                <option value="45">SunRock Hotel &amp; Residences</option>
                                                <option value="21">Terrasol Condos</option>
                                                <option value="39">The Cape, Thompson Hotel</option>
                                                <option value="9">The Resort</option>
                                                <option value="68">Tortuga Bay - Beachfront Condominiums</option>
                                                <option value="18">Villa del Arco</option>
                                                <option value="16">Villa del Palmar</option>
                                                <option value="17">Villa La Estancia</option>
                                                <option value="58">Villas Del Mar at Palmilla</option>
                                                <option value="65">Viva Condos Beachfront</option>
                                                <option value="44">Welk Resort Cabo Sirena del Mar</option>
                                                <option value="57">Westin Resort &amp; Spa Los Cabos ( &amp; Grand Regina)</option>
                                                <option value="35">Wyndham (Tesoro)</option>
                                                <option value="53">Zoetry Wellness &amp; Spa Resorts (Casa del Mar)</option>
                                            </select>
                                        </div>
                                    </div>
   				 <div class='col-md-2'>
        			<div class="form-group">
        			<label for="From" class="form-label">Arrival </label>
            			<div class='input-group date' id='datetimepicker6'>
               			 <input type='text' class="form-control" />
                		<span class="input-group-addon">
                   		 <span class="fa fa-calendar"></span>
               			 </span>
            			</div>
        			</div>
    			</div>
    			 <div class='col-md-2'>
        			<div class="form-group">
        			<label for="username" class="form-label">Departure</label>
            			<div class='input-group date' id='datetimepicker7'>
               			 <input type='text' class="form-control" />
                			<span class="input-group-addon">
                 		   <span class="fa fa-calendar"></span>
                		</span>
            			</div>
        			</div>
    			</div>
    			<div class="col-md-2">
                    <div class="form-group">
                       <label for="username" class="form-label">Passenger Range</label>
                       <select class="form-control">
                       <option value="1">1-5</option>
                       <option value="2">6-10</option>
                       <option value="3">10-15</option>
                       </select>
                    </div>
                </div>               
                <div class="col-md-2 mt-30">
                     <button type="submit" class="btn btn-common submit-btn"><i class="fa fa-paper-plane-o mr-5"></i>Submit</button>    
            	</div>
</div>
		</div>
	</section>
    
	<section class="weekly-offer  section">
          <div class="container wow fadeInRight">
          <h1 class="section-title wow fadeInUpQuick">
                Weekly Best Offer
            </h1>
          	<div class="weekly-offer-div">
          		<a href="#">
          			<label>Monday</label>
          			<label>21 Feb</label>
          			<label class="offer-price">702 USD</label>
          		</a>
          	</div>
			<div class="weekly-offer-div">
          		<a href="#">
          			<label>Tuesday</label>
          			<label>22 Feb</label>
          			<label class="offer-price">720 USD</label>
          		</a>
          	</div>
			<div class="weekly-offer-div">
          		<a href="#">
          			<label>Wednesday</label>
          			<label>23 Feb</label>
          			<label class="offer-price">730 USD</label>
          		</a>
          	</div>
			<div class="weekly-offer-div">
          		<a href="#">
          			<label>Thursday</label>
          			<label>24 Feb</label>
          			<label class="offer-price">800 USD</label>
          		</a>
          	</div>
          	<div class="weekly-offer-div">
          		<a href="#">
          			<label>Friday</label>
          			<label>25 Feb</label>
          			<label class="offer-price">820 USD</label>
          		</a>
          	</div>
          	<div class="weekly-offer-div">
          		<a href="#">
          			<label>Saturday</label>
          			<label>26 Feb</label>
          			<label class="offer-price">830 USD</label>
          		</a>
          	</div>
          	<div class="weekly-offer-div">
          		<a href="#">
          			<label>Sunday</label>
          			<label>27 Feb</label>
          			<label class="offer-price">850 USD</label>
          		</a>
          	</div>
          </div>   
        </section>

        <section class="">
               <h1 class="section-title wow fadeInUpQuick">
                LOS CABOS AIRPORT
            </h1>
            <p class="section-subcontent">You'll then meet your driver, who will help you load your bags, and take you to your hotel in an air/conditioned vehicle, no stops on the way!
            <br>For more information about the airport, please go to <a href="#">Airport Info</a>
            </p>
        </section>
        <section class="pb-50">
            <div class="container">
                <div class="row">
                    <!-- BLog Article Section -->
                    <div class="col-md-12">
                        <!-- Private Transfer Section -->                                               
                        <div class="new-comment clearfix wow fadeInUp" data-wow-delay="0.3s">
                        <div class="amount"><i class="fa fa-usd mr-5"></i>200 </div>
                            <h3 class="small-title">Private Transportation Hassle Free </h3>
                            <form class="mt-20">
                                	<div class="row">
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="username">Name</label>
	                                            <input placeholder="Full Name" id="username" required="" class="form-control" type="text">
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Email">Email</label>
	                                            <input placeholder="Email Address" id="Email" required="" class="form-control" type="email"/>
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
                                    </div>
  									<div class="row">
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Phone">Phone</label>
	                                            <input placeholder="Phone" id="Phone" required="" class="form-control" type="text" />
	                                        </div>
		                                </div>
	                                    <!-- /.col-md-6  -->
	                                    <div class="col-md-6 ">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Passangers-Range">Passanger Range</label>
	                                            <select class="form-control" id="passangers_range" name="passangers_range">
	                                                <option value="1_to_5">1-5 Passengers</option>
	                                                <option value="6_to_10">6-10 Passengers</option>
	                                                <option value="11_to_15">11-15 Passengers</option>
	                                            </select>
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
	                                </div>
  									<div class="row">
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Passangers-Range">Resort</label>
	                                            <select class="form-control" id="hotel" name="resort">
	                                                <option selected="" value="0">Select your resort</option>
	                                                <option value="28">Bahia Hotel</option>
	                                                <option value="4">Barceló Grand Faro Los Cabos</option>
	                                                <option value="64">Bel Air Collection Resort &amp; Spa</option>
	                                                <option value="6">Breathless Cabo San Lucas Resort &amp; Spa</option>
	                                                <option value="70">Cabo Azul Resort</option>
	                                                <option value="46">Cabo Bello Residencial Area</option>
	                                                <option value="61">Cabo Surf Hotel &amp; Spa</option>
	                                                <option value="25">Cabo Villas</option>
	                                                <option value="80">Casa del Mar</option>
	                                                <option value="27">Casa Dorada</option>
	                                                <option value="33">Chileno Bay</option>
	                                                <option value="15">Club Cascadas de Baja</option>
	                                                <option value="78">Diamante Cabo San Lucas </option>
	                                                <option value="54">Dreams Los Cabos Suites Golf Resort &amp; Spa</option>
	                                                <option value="49">El Dorado Residencial &amp; Golf Course </option>
	                                                <option value="75">El Encanto de la Laguna Beachfront Community</option>
	                                                <option value="72">El Ganzo Hotel</option>
	                                                <option value="42">Esperanza An Auberge Resort</option>
	                                                <option value="37">Fairfield Inn Los Cabos</option>
	                                                <option value="55">Fiesta Americana Grand Los Cabos All Inclusive Golf &amp; Spa</option>
	                                                <option value="20">Grand Solmar</option>
	                                                <option value="24">Hacienda Beach</option>
	                                                <option value="41">Hacienda Encantada Resort &amp; Spa</option>
	                                                <option value="50">Hilton Los Cabos Beach &amp; Golf Resort</option>
	                                                <option value="71">Holiday Inn Resort Los Cabos All-Inclusive</option>
	                                                <option value="67">Hyatt Ziva Los Cabos</option>
	                                                <option value="74">JW Marriott Los Cabos Beach Resort &amp; Spa</option>
	                                                <option value="5">Las Mañanitas Condominium Resort </option>
	                                                <option value="62">Las Olas Condo - Surfers Paradise</option>
	                                                <option value="52">Las Ventanas al Paraiso, A Rosewood Resort</option>
	                                                <option value="36">Los Cabos Golf Resort</option>
	                                                <option value="79">Mar Adentro</option>
	                                                <option value="34">Marina Cabo Plaza</option>
	                                                <option value="30">Marina Fiesta</option>
	                                                <option value="29">Marina Sol</option>
	                                                <option value="77">Marquis Los Cabos All Inclusive Resort &amp; Spa</option>
	                                                <option value="26">Me Cabo</option>
	                                                <option value="47">Misiones del Cabo Resort</option>
	                                                <option value="63">Mykonos Bay Resort</option>
	                                                <option value="59">One &amp; Only Palmilla Resort</option>
	                                                <option value="51">Paradisus Los Cabos</option>
	                                                <option value="48">Pedregal Residencial Area</option>
	                                                <option value="22">Playa Grande</option>
	                                                <option value="76">Posada Real Los Cabos</option>
	                                                <option value="13">Pueblo Bonito Los Cabos (Blanco)</option>
	                                                <option value="12">Pueblo Bonito MonteCristo</option>
	                                                <option value="11">Pueblo Bonito Pacifica</option>
	                                                <option value="14">Pueblo Bonito Rose</option>
	                                                <option value="10">Pueblo Bonito Sunset Beach</option>
	                                                <option value="60">Querencia Golf Club &amp; Residencial Community</option>
	                                                <option value="40">Quinta Del Sol Hotel</option>
	                                                <option value="31">Riu Palace</option>
	                                                <option value="32">Riu Santa Fe</option>
	                                                <option value="66">Royal Decameron Los Cabos</option>
	                                                <option value="69">Royal Solaris All Inclusive Resort</option>
	                                                <option value="23">Sandos Finisterra</option>
	                                                <option value="43">Santa Carmela Residencial Area</option>
	                                                <option value="73">Secrets Puerto Los Cabos Golf &amp; Spa Resort</option>
	                                                <option value="38">Seven Crown Express &amp; Suites</option>
	                                                <option value="56">Sheraton Hacienda del Mar Golf Resort</option>
	                                                <option value="19">Solmar</option>
	                                                <option value="45">SunRock Hotel &amp; Residences</option>
	                                                <option value="21">Terrasol Condos</option>
	                                                <option value="39">The Cape, Thompson Hotel</option>
	                                                <option value="9">The Resort</option>
	                                                <option value="68">Tortuga Bay - Beachfront Condominiums</option>
	                                                <option value="18">Villa del Arco</option>
	                                                <option value="16">Villa del Palmar</option>
	                                                <option value="17">Villa La Estancia</option>
	                                                <option value="58">Villas Del Mar at Palmilla</option>
	                                                <option value="65">Viva Condos Beachfront</option>
	                                                <option value="44">Welk Resort Cabo Sirena del Mar</option>
	                                                <option value="57">Westin Resort &amp; Spa Los Cabos ( &amp; Grand Regina)</option>
	                                                <option value="35">Wyndham (Tesoro)</option>
	                                                <option value="53">Zoetry Wellness &amp; Spa Resorts (Casa del Mar)</option>
	                                            </select>
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
	                                    <div class="col-md-6 ">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Passangers-Range">Passangers Range</label>
	                                            <select class="form-control" id="trip_type" name="trip_type">
	                                                <option value="round_trip">Round trip</option>
	                                                <option value="one_way">One Way</option>
	                                            </select>
	                                        </div>
	                                    </div>
                                    	<!-- /.col-md-6  -->
                                    </div>
  									<div class="row">	
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="arrival_date">Arrival date(dd/mm/yyyy)</label>
	                                            <input placeholder="Arrival date" id="arrival_date" required="" class="form-control" type="text"/>
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="arrival_date">Departure Flight Info: Airline, Flight Number and Time</label>
	                                            <input placeholder="Departure Flight Info" id="departure_flight" required="" class="form-control" type="text"/>
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
                                    </div>
  									<div class="row">
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Adults">Adults</label>
	                                            <input placeholder="Adults" id="adults" required="" class="form-control" type="text"/>
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
	                                    <div class="col-md-6">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Kids">Kids</label>
	                                            <input placeholder="Kids" id="kids" required="" class="form-control" type="text"/>
	                                        </div>
	                                    </div>
	                                    <!-- /.col-md-6  -->
	                                </div>
  									<div class="row">
	                                    <div class="col-md-12">
	                                        <div class="form-group">
	                                            <label class="form-label" for="Kids">Comments</label>
	                                            <textarea placeholder="Type here message" id="usermessage" rows="5" required="" class="form-control"></textarea>
	                                        </div>
	                                    </div>
                                    </div>
  									<div class="row">
                                    	<div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label" for="Code">Coupon Code</label>
                                            <input placeholder="Coupon Code" id="Code" required="" class="form-control" type="text"/>
                                        </div>
                                    	</div>
                                    </div>
                                    <!-- /.col-md-12 -->                                    
  									<div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-common" type="submit"><i class="fa fa-paper-plane-o mr-5"></i>Book Now</button>    
                                    </div>
                                    </div>
                                    <!-- /.col-md-12 -->
                                </div>
                            </form>
                        </div>


                    </div>
                    <!-- End -->
                </div>
            </div>
        </section>

        <section class="bg-img section second-img" >
        <div class="section_overlay">
        
            <!-- Container Starts -->
            <div class="container">
                <div class="row">                  
                    <div class="col-md-12  col-xs-12 wow  fadeInRight " data-wow-delay=".3s">
                        <div class="content-inner">
                            <h2 class="quick-title wow fadeInLeftBig white">Shuttle Service</h2>
                            <p class="white">
                          Shuttle Service was designed for those travelers who would like to experience the best service at the lowest cost, we now have the option for you to share transportation to your hotel with people arriving at a similar time as you, in order to keep costs down! Enjoy convenient and cost-effective shared transportation between the Los Cabos International Airport (SJD) and your hotel aboard our Shuttle! 
                            </p>
                            <P class="white">Our services Include:</P>
                            <ul class="white">
                                <li>Personalized attention </li>
                                <li>Arrival flight monitoring </li>
                                <li>Reliable and professional costumer service</li>
                                <li>Economical - No Hidden Fees </li>
                                <li>A/C vehicles of recent models </li>
                                <li>No timeshare invitations, only first class service</li>
                          </ul>
                            <p class="white">
                                If you are looking for the most reliable shuttle service and reasonable prices, then you need InsideLosCabos. We ensure that each booking is treated in a timely and professional manner. If you are looking for an accessible airport transportation just give us a call. You can also make your reservation online in just a few clicks! </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- Container Ends -->
        </section>

        <section class="private-extra section">
            <div class="container">          
            <div class="row">                
                <div class="col-md-4 wow fadeInLeft">
                  <div class="inner-extra">
                    <h6>Is your hotel or villa not listed?</h6>
                    <p>Dial to our toll free number:</p>
                    <p class="call-toll-free"><i class="fa fa-phone mr-5"></i> +1-877-401-1796 </p>
                    <p>we'll be happy to help you.</p>
                </div>
                </div>
                <div class="col-md-4 wow fadeInUp">
                  <div class="inner-extra">
                    <h6>When booking your Airport </h6>
                    <p>Transportation get a </p>
                    <p class="call-toll-free">GREAT DISCOUNT </p>
                    <p>On our featured activities transfers!</p>
                </div>
                </div>
                <div class="col-md-4 wow fadeInRight">
                  <div class="inner-extra">
                    <h6>If you want further information </h6>
                    <p>please contact us at: Toll free </p>
                    <p class="call-toll-free"><i class="fa fa-phone mr-5"></i> +1-877-401-1796 </p>
                    <p>Or our Live Chat!</p>
                </div>
                
               
            </div>
            </div>
        </section>
        <!-- Footer Section -->
         <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
       
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
      <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
       <script src="assets/js/jquery.appear.js"></script>
       <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
     <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
         <!-- dat picker js -->
			<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
    </body>
</html>