<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
            <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
            <a href="#" class="toll-free display_block">
                <i class="fa fa-phone"></i> 1-877-401-1796
            </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->


        <!-- Page Header End -->

        <section class="classic-blog-section section-padding" id="blog">
            <!-- Container Starts -->
            <div class="container">       
                <!-- Row Starts -->
                <div class="row">
                    <h1 class="section-title wow fadeInUpQuick animated animated visibility">
                        History and Culture 
                    </h1>
                    <!--          <div class="col-md-12">
                              <p class="section-subcontent text-left">The dining scene in Los Cabos is very varied, from the high end class resturants to the less fancy but also great restaurants of both cities. The area with the best restaurants is San Jose del Cabo. Cabo San Lucas has more restaurants but they are generally more popular, more commercial. For those who love fine dining there are not so many options in Cabo San Lucas -- not as many as in San Jose. </p>
                              </div>-->
                    <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
                        <!-- Blog Item Starts -->
                        <div data-wow-delay="0.3s" class="blog-item-wrapper wow fadeIn clearfix ">
                            <div class="blog-item-img col-sm-12 col-md-6">
                                <a href="#">
                                    <img alt="insideloscabos-img" src="assets/img/history/1.jpg" class="img-responsive">
                                </a>   
                            </div>
                            <div class="blog-item-text col-sm-12 col-md-6">
                                <h3 class="small-title"><a href="#">Dinning</a></h3>
                                <p>
                                    Cabo San Lucas (Spanish pronunciation: ['kaßo san 'lukas] Cape Saint Luke), commonly called Cabo in American English, is a city at the southern tip of the Baja California Peninsula, in the Mexican state of Baja California Sur. Cabo San Lucas together with San José del Cabo is known as Los Cabos. </p>
                                <p>Cabo has been rated as one of Mexico's top 5 tourist destinations; it is known for its beaches, scuba diving locations, the arch (Arco de Cabo San Lucas), and marine life. The Los Cabos Corridor has become a heavily trafficked holiday destination for tourists, with numerous resorts and timeshares along the coast between Cabo San Lucas and San José del Cabo.</p>
                            </div>
                            <div class="row clearfix">
                                <div class=" col-sm-12 blog-item-text">
                                    <div class="blog-one-footer">    
                                        <!--<a href="dining.html" target="_blank"> Check our featured Restaurants </a>-->  
                                        <!--<a>Phone: 624-144- 6262</a>-->   
                                        <a class="pull-right btn btn-common white" href="#" target="_blank">Get a Quote</a>                       
                                    </div>
                                </div>
                            </div>
                        </div><!-- Blog Item Wrapper Ends-->
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 custom-section clearfix">
                        <!-- Blog Item Wrapper Starts-->
                        <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn clearfix">
                            <div class="blog-item-img col-sm-12 col-md-12 section_height_auto">
                                    <h1 class="section-title wow fadeInUpQuick animated animated visibility">
                                        History and Culture 
                                    </h1>                                
                                    <p>
                                        Cabo San Lucas, Mexico, was originally settled by Native American tribes including the Pericues, a mystical Native American tribe which is known for its arts as well as its extensive irrigation system. In the mid-sixteenth century, European explorers came to Cabo San Lucas, including Hernan Cortes in 1535 and Juan Rodriguez Cabrillo in 1542. The influence of these early explorers was not great; however, this began the conquering of the people of the Cabo San Lucas area.
                                    </p>
                                    <p> In 1603, General Sebastian Vizcaino, under the direction of the Viceroy Count of Monterrey, launched three ships which traveled up the California coastline and named and established the places upon which they came, including Cabo San Lucas. Thus, the name of Cabo San Lucas was established more than four hundred years ago. </p>
                                    <p> The actual village of Cabo San Lucas has not been in existence nearly as long as the area itself. Cabo San Lucas was more or less established as a village in 1917, when an American company moved in to the area and built a floating platform there which was used to catch tuna. This became the start of Cabo San Lucas as a fishing village, which it has been ever since. Since the 1970’s, Cabo San Lucas has also been a huge tourist draw.</p>
                                        <h1 class="section-title wow fadeInUpQuick animated animated visibility">
                                           TOURISM
                                        </h1> 
                                         <p>Cabo San Lucas has become a prominent vacation and spa destination, with a variety of sites of interest and timeshares that have been built on the coast between San Lucas and San José del Cabo. The distinctive Arco de Cabo San Lucas is a local landmark.</p>  
                                          <p> Cabo San Lucas has the highest paying marlin tournament in the world.Despite concerns over the general safety for tourists travelling to Mexico, Cabo San Lucas remains one of the safest tourist destinations in the world.</p>
                                <p> In the winter, pods of whales can be observed in the area. They bear their calves in the warm waters of the Gulf of California after completing their 6000-mile migration from Alaska and Siberia.</p>
                                <h1 class="section-title wow fadeInUpQuick animated animated visibility">
                                  DEVELOPMENT
                                </h1> 
                                <p>The beaches, surfing, and sport fishing opportunities in Cabo San Lucas have attracted a great number of Mexican natives and foreigners to spend their vacations in large-scale tourist developments there. The development of Cabo's tourism industry was prompted by the Mexican government's development of infrastructure to turn Cabo San Lucas into a major center for tourism in Mexico, beginning in 1974. Upon completion of the Transpeninsular Highway, also known as the Mexican Federal Highway 1, tourist developments in Los Cabos proceeded relatively unchecked. </p>
                                <p> Until fairly recently, the unique and fragile environment of this part of Mexico was largely unprotected by law, and therefore was subjected to developers acting in concert with government agencies interested only in low-end tourist bonanzas. There is, however, a growing collection of activists and attorneys now involved in preserving many of Baja's desert habitats, marine mammals, and stretches of coastline. A number of agencies including the Gulf of California Conservation Fund and the Center for Environmental Law in La Paz are challenging the destruction of wetlands and other ecosystems from Los Cabos to Ensenada. In the face of a growing international public demand for corporate-driven ecological stewardship, higher-end resorts in the Los Cabos area are increasingly sensitive to their environmental impact, and are taking initial steps to institute sustainable practices such as reducing water usage and non-recyclable trash output.</p>
                                <h1 class="section-title wow fadeInUpQuick animated animated visibility">
                                  DEVELOPMENT
                                </h1> 
                                <p>Cabo San Lucas has a desert climate.During summer, Cabo San Lucas is cooler than San José del Cabo by about -16 to -15 °C (3 to 5 °F). Sometimes during the summer, when winds blow from the Pacific Ocean instead of the Gulf of California, the differences in temperatures between San José del Cabo and Cabo San Lucas are higher.
                                Cabo San Lucas is less rainy than San José del Cabo, although hurricanes can bring heavy rain for long periods. Due to the position of the city and orography, local summer thunderstorms do not get near enough to bring rain to the town.</p>
                                <p> The sea temperature experiences lows of 21&ndash;22 °C (70&ndash;72 °F) in winter, and highs of 28&ndash;29 °C (82&ndash;84 °F) during the summer months.</p>
                            </div>                           
                        </div><!-- Blog Item Wrapper Ends-->
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 custom-section clearfix">
                        <!-- Blog Item Wrapper Starts-->
                        <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn clearfix">
                            <div class="blog-item-img col-sm-12 col-md-12 section_height_auto">
                                <a href="#">
                                    <img alt="fishing" src="assets/img/history/cdata.png" class="img-responsive">
                                </a>
                            </div>                           
                        </div><!-- Blog Item Wrapper Ends-->
                    </div>



                </div><!-- Row Ends -->
            </div><!-- Container Ends -->
        </section>

        <!-- Footer Section -->
        <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
    </body>
</html>