<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
            <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
            <a href="#" class="toll-free display_block">
                <i class="fa fa-phone"></i> 1-877-401-1796
            </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->


        <!-- Page Header End -->
        <section class="shortcode-accordion-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mt-50">

                        <div class="single-accordion-set wow fadeIn animated" data-wow-delay="0.9s">
                            <h1 class="section-title wow fadeInUpQuick animated visibility">
                               Things to know about Cabo and frequently asked Questions
                            </h1>
                            <div id="accordionFullWidth" class="" role="tablist" aria-multiselectable="true">
                             <h3 class="small-title">About Cabo area</h3>
                                <!--1 accordion-->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull" aria-expanded="true" aria-controls="collapseOneFull" class="">
                                                How far away is San Jose del Cabo from Cabo San Lucas?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull" class="panel-collapse clearfix collapse in" role="tabpanel" aria-labelledby="headingOneFull" aria-expanded="true">
                                        <div class="panel-body clearfix">
                                            <div class="col-md-5">
                                                <a href="#"><img src="assets/img/faq/InsideloscabosAirlineinformation.jpg" class="img-responsive img-thumbnail" alt="insideloscabos-img"></a>
                                            </div>
                                            <div class="col-md-7">
                                                <p>Cabo San Lucas is the largest town in the municipality of Los Cabos. San Jose del Cabo is the next largest town in Los Cabos. Los Cabos also includes tiny towns, the coast, the hills, & the mountains, all of it.</p>
                                                <p>The towns of Cabo San Lucas and San Jose del Cabo are about 33 km (20 miles) apart. The Transpeninsular Highway or Highway 1; is marked in kilometers from downtown Cabo at km 0. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                

                                <!--2 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-2">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-2" aria-expanded="false" aria-controls="collapseOneFull-2" class="collapsed">
                                                How far away is SJD Airport from San Jose del Cabo?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-2" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-2" aria-expanded="false">
                                        <div class="panel-body clearfix">                                           
                                            <div class="col-md-12">
                                                <p>SJD Airport is located in San Jose del Cabo, but the resorts and tourist scene part of town is located at 12 km (8 miles) from the airport,   driving through town on highway 1, it is about 25-35 minutes depending on traffic; there is a toll road from the airport going directly to San Jose del Cabo tourist corridor, taking this option, the drive takes 15 minutes approximately; The rate for the <a href="cabo_private_transportation.php">PRIVATE  airport transfer</a> includes the cost of the toll road! </p>
                                                <p>SJD Airport is located in San Jose del Cabo, Cabo San Lucas Downtown is located at 50 km (80 miles) from the airport, driving through San Jose del Cabo on highway 1, it is about 50-60 minutes depending on traffic; there is a toll road from the airport going directly to San Jose del Cabo tourist corridor, taking this option, the drive takes 35 minutes approximately; The rate for the <a href="cabo_private_transportation.php">PRIVATE  airport transfer </a>includes the cost of the toll road!</p>
                                                <p>Transportation is very different depending on the Los Cabos area that your hotel is located; If you went for the convenience of staying in Cabo San Lucas downtown area, you might find must of the attractions in town to be walking distance from your hotel, places like Puerto Paraiso mall, Medano Beach and a lot of very popular restaurants are located in an area not bigger than 10 blocks square. <br>
                                                    If your hotel happens to be anywhere in the corridor area, your options for going to either San Jose or Cabo San Lucas are public transportation (Ruta del Desierto bus), the local taxi’s or if you are a “plan in advance” type of traveler, you can always check out our private transfer options with one of our agents, they will make recommendations on restaurants and things to do, as well as help you pre-arrange your transportation needs, for more information call +1-877.401.1789 or go to the live chat in this page! <br>
                                                    If you decided on the beautiful and calmer town of San Jose del Cabo, you will enjoy the walks through its little main plaza and the souvenir shopping, main square it’s only about a mile away from most of the resorts, but if you need to go to any Restaurant or activity on the tourist corridor or even Cabo San Lucas, your best option is to make arrangements in advance, having your private chauffer picking you up at your convenience and not stressing about finding a Taxi after your activities; Feel free to check our recommendations in the <a href="dinning.php">“Dinning”</a> and “Activities” section, feel free to call one of our agents, they will be more than glad to help you plan your perfect vacations! </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--3 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-3">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-3" aria-expanded="false" aria-controls="collapseOneFull-3" class="collapsed">
                                                Do you offer transportation while I am in Cabo or just airport transfers?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-3" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-3" aria-expanded="false">
                                        <div class="panel-body clearfix">                                           
                                            <div class="col-md-12">
                                                <p>Yes! Besides airport transfers, we offer a range of additional services such as guided tours, dinner and activities transfers, hourly rent, shopping tours and more!</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="small-title mt-20">About the Reservation process </h3>
                                <!--4 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-4">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-4" aria-expanded="false" aria-controls="collapseOneFull-3" class="collapsed">
                                                Will my driver speak English? What about costumer service, if I call Inside Los Cabos, do you have bilingual agents?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-4" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-4" aria-expanded="false">
                                        <div class="panel-body clearfix">
                                            <div class="col-md-5">
                                                <a href="#"><img src="assets/img/faq/InsideloscabosCustomerService.jpg" class="img-responsive img-thumbnail" alt="insideloscabos-img"></a>
                                            </div>
                                            <div class="col-md-7">
                                                <p>All Inside Los Cabos team is bilingual and extremely familiar with Los Cabos area, we are always eager to help with your questions and help you have the best Cabo experience! </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--5 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-5">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-5" aria-expanded="false" aria-controls="collapseOneFull-5" class="collapsed">
                                                How far in advance do I have to book my transportation?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-5" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-5" aria-expanded="false">
                                        <div class="panel-body clearfix">                                            
                                            <div class="col-md-12">
                                                <p>You can book up until 24hrs prior to your arrival or to the service you require.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--6 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-6">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-6" aria-expanded="false" aria-controls="collapseOneFull-6" class="collapsed">
                                                If I only need my departure transfer, how do I book it?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-6" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-5" aria-expanded="false">
                                        <div class="panel-body clearfix">                                           
                                            <div class="col-md-12">
                                                <p>If you are in need of only departure, you can book directly to our toll free +1-877-401-1796 or by Chat.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--7 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-7">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-7" aria-expanded="false" aria-controls="collapseOneFull-7" class="collapsed">
                                                Can I pay in cash once I get to Cabo?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-7" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-7" aria-expanded="false">
                                        <div class="panel-body clearfix">                                            
                                            <div class="col-md-12">
                                                <p>We accept payments in advance priority to your arrival, you can pay online with major debit or credit cards, or our agents will send you a payment request to your email, all payments are processed through paypal.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--8 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-8">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-8" aria-expanded="false" aria-controls="collapseOneFull-8" class="collapsed">
                                                I made my reservation online, what’s next?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-8" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-8" aria-expanded="false">
                                        <div class="panel-body clearfix">                                           
                                            <div class="col-md-12">
                                                <p>You can now take “transportation” off your to do list! A confirmation voucher will be sent to your email, confirmations are not automatically generated by the system, we personally fill up every clients information, so even though your confirmation might take a little while to be sent, be sure your information is in the system and you will receive your voucher shortly!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--9 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-9">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-9" aria-expanded="false" aria-controls="collapseOneFull-9" class="collapsed">
                                                I have a last minute change in my itinerary, would my driver be there if I am coming in a different flight? What if my flight is delayed?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-9" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-9" aria-expanded="false">
                                        <div class="panel-body clearfix">                                            
                                            <div class="col-md-12">
                                                <p>When asking for your flight information, we make sure to get every detail of it, airline and flight number as well as the scheduled time, our traffic department monitors flights and weather related issues live, to make sure you do not have to worry if your flight is delayed, your driver will be there once you get to SJD airport!
                                                    If your itinerary however implies a change on airline or flight number, we please ask you to call our toll free number +1-877-401-1796 and inform one of our agents, if calling is not an available option, please email us to reservations@insideloscabos.com; reaching out is simple and your ride is secure once you send your information with the most anticipation possible. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--10 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-10">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-10" aria-expanded="false" aria-controls="collapseOneFull-10" class="collapsed">
                                                What are the business hours on the Toll Free number?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-10" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">
                                            <div class="col-md-12">
                                                <p>Agents are available on +1-877-401-1796 from 8:00am to 6:00pm MST – Monday to Sunday.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="small-title mt-20">Airport Information</h3>
                                <!--11 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-11">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-11" aria-expanded="false" aria-controls="collapseOneFull-11" class="collapsed">
                                                Does Inside Los Cabos has representatives inside the airport?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-11" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                           
                                            <div class="col-md-12">
                                                <p>We do not have representatives inside the terminal, on the way out from the building, you might find yourself being approached by numerous people claiming to be your transportation representative inside the terminal, this is all a time share catch! We kindly ask you to avoid stopping with anyone inside the terminal, remember that your driver is waiting for you outside with the sign you received in your confirmation!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--12 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-12">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-12" aria-expanded="false" aria-controls="collapseOneFull-12" class="collapsed">
                                                In what terminal does my flight arrives?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-12" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">
                                            <div class="col-md-6">
                                                <h4>Terminal 1: Domestic Flights</h4>
                                                <p>Aerocalafia<br>
                                                    Aeromexico<br>
                                                    Interjet<br>
                                                    Volaris<br>
                                                    Magnicharters<br>
                                                </p>
                                            </div>
                                            <div class="col-md-6">
                                                <h4>Terminal 2: International Flights</h4>
                                                <p> Alaska Airlines<br>
                                                    American Airlines<br>
                                                    Frontier Airlines<br>
                                                    Delta Airlines<br>
                                                    Delta Connection<br>
                                                    Frontier Airlines<br>
                                                    Southwest Airlines<br>
                                                    Spirit Airlines<br>
                                                    Sunwing Airlines<br>
                                                    Virgin America<br>
                                                    WestJet<br>
                                                    Air Canada<br>
                                                    Air Transit<br>
                                                    Sun Country Airlines<br>
                                                    United Airlines<br>
                                                    Xtra Airlines<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--13 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-13">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-13" aria-expanded="false" aria-controls="collapseOneFull-13" class="collapsed">
                                                If I choose the Cabo Shuttle option, how long will I wait at the airport for my Car to leave?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-13" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                           
                                            <div class="col-md-12">
                                                <p>Shuttle service was designed for travelers who want to experience the best service at the lowest cost by sharing the transportation with other travelers arriving at similar time than you, by similar time, we mean not particularly on the same flight, this means we have to wait for other travelers to go through customs and come meet us outside, this can be anywhere from 20 to 40 minutes, there is not an exact time frame.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--14 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-14">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-14" aria-expanded="false" aria-controls="collapseOneFull-14" class="collapsed">
                                                Can I get on a shuttle once I get to the airport, without previous reservation?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-14" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                           
                                            <div class="col-md-12">
                                                <p>Unfortunately, Los Cabos has some restrictions when it comes to last minute services due to Taxi union regulations, if you get to SJD airport without a previous reservation, we are forced to deny you the service, your only option is to take a local taxi.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="small-title mt-20">Airport Transfer Information</h3>
                                <!--15 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-15">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-15" aria-expanded="false" aria-controls="collapseOneFull-15" class="collapsed">
                                                What are the inclusions in the rate?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-15" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">
                                            <div class="col-md-7">
                                                <a href="#"><img src="assets/img/faq/QuestionsAboutLosCabosAirport.jpg" class="img-responsive img-thumbnail" alt="insideloscabos-img"></a>
                                            </div>
                                            <div class="col-md-5">
                                                <p>Inclusions: * A/C Private transfers nonstop to your resort<br>
                                                    * Toll free number in case that you need it during your travel, <br>
                                                    * No Timeshare invitations, <br>
                                                    * Completely private First Class Service,<br>
                                                    * Cold water on every ride, <br>
                                                    * Baby seats (when previously required),<br>
                                                    * We will make alternative arrangements for you if your flight is delayed using the most effective solution for you<br>
                                                    * We will do our best to meet your requests<br>
                                                    * Excellent telephone service for all bookings and customer enquires<br>
                                                    * Phones answered promptly and efficiently<br>
                                                    * Happy, clear, professional voices,<br>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--16 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-16">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-16" aria-expanded="false" aria-controls="collapseOneFull-16" class="collapsed">
                                                If I choose the Cabo Shuttle option, how many stops do we make on the way to my resort?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-16" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                            
                                            <div class="col-md-12">
                                                <p>The number of stops and the duration of the ride depend on the location of your resort and the number of people sharing the car with you; we cannot offer you or advertise an specific number.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--17 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-17">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-17" aria-expanded="false" aria-controls="collapseOneFull-17" class="collapsed">
                                               If I choose the Private transfer option, can we make a stop for groceries on the way to the hotel?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-17" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                         
                                            <div class="col-md-12">
                                                <p>Yes! When booking private transfer, you have the option of pre-arranging a stop on the way to your hotel, this service may has a cost that varies depending on the time and date of your arrival, and also, this service has to be reserved prior to your arrival with one of our agents.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--18 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-18">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-18" aria-expanded="false" aria-controls="collapseOneFull-18" class="collapsed">
                                              My resort or villa is not listed in the website, how do I quote my transportation?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-18" class="panel-collapse clearfix collapse" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body clearfix">                                          
                                            <div class="col-md-12">
                                                <p>If your resort or house is not listed, please contact one of our customer service agents, since some of our services offered online like shuttle transfers, do not apply when staying in specific areas, we suggest you to call and ask for further information +1-877-401-1796 or Chat with us.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--19 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-19">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-19" aria-expanded="false" aria-controls="collapseOneFull-19" class="collapsed">
                                               I have a large group of 17 or more, how do I book our transportation?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-19" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                            
                                            <div class="col-md-12">
                                                <p>If you have a larger group, please contact us at info@insideloscabos.com, we will be able to help you with the logistics of your group, give you a personalized quote and further assist you.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--20 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-20">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-20" aria-expanded="false" aria-controls="collapseOneFull-20" class="collapsed">
                                              Can I request special beverages o services for my transfer?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-20" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                            
                                            <div class="col-md-9">
                                                <p>Yes! When booking a private service, you can reach to one of our agents for special requests, we can help you with any type of beverage or miscellaneous for the ride, wine, beer, flowers, special welcome sign for specific celebrations, etc. We want to help you make your airport transfer the best start to your vacations!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--20 accordion-->                                
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOneFull-21">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionFullWidth" href="#collapseOneFull-21" aria-expanded="false" aria-controls="collapseOneFull-21" class="collapsed">
                                              How would I know when the transportation is picking me up at my hotel?
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOneFull-21" class="panel-collapse clearfix collapse section_height_zero" role="tabpanel" aria-labelledby="headingOneFull-10" aria-expanded="false">
                                        <div class="panel-body clearfix">                                            
                                            <div class="col-md-9">
                                                <p>On your confirmation transportation voucher you received in your email, please locate on “DEPARTURE INFORMATION” the field “Pickup time”, this time has been carefully schedule taking in consideration traffic and your departure time, you will be at the airport 2 hours prior to your departure, as major airlines highly suggest, if you want to change this time, please call +1-877-401-1796 or Chat with us.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>

        </section>

        <!-- Footer Section -->
        <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
    </body>
</html>