<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
             <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
               <a href="#" class="toll-free display_block">
            <i class="fa fa-phone"></i> 1-877-401-1796
        </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->

        <!-- Page Header -->
        
        <!-- Page Header End -->
       <section class="section  privacy-section">
       	<div class="container">
    <div class="text-center wow fadeInLeft">
      <h4 class="section-title">Terms and Conditions</h4>
    
      <p>Thank you for reading the terms and conditions section of our website. All transfers will abide by the following terms and conditions, unless both you and the company have stablished a different agreement and there is written consent of both parts. </p>
      <ul>
        <li>You will receive a confirmation voucher for your transportation service. Our company will provide the service for the day, time and flight number specified in the confirmation voucher. </li>
        <li>In case that you need to change your flight details whether for personal reasons, changes from the airline or weather conditions, among others, our company will provide the service according to our possibilities and availability at the moment.</li>
        <li>We strive to provide the best service possible, which includes the quality of our vehicles. Your transportation will always be in a/c vehicles, of recent models. The vehicle type assigned for your service will be according to availability for the day and time of your transfer. We reserve the right to make a different vehicle to the provisions unmodified our quality standards since there are always adverse conditions that may interfere with our work such as road traffic.</li>
        <li>In case you desire a specific vehicle type, extra charges may apply.</li>
        <li>Your service may use the transpeninsular highway or the toll highways, depending on the time of the day, traffic conditions and our operative needs.</li>
        <li>Children must use a car seat at all times. You're welcome to bring your own, or we can provide them for you at no extra cost. Please let us know in advance your car seats requirements (child's age and weight) when you book your transportation.</li>
        <li>Pets are only permitted in private transfers. Pets must be transported in a pet carrier.</li>
        <li>A passenger's baggage remains the responsibility of the passenger, at all times.</li>
      </ul>
    </div>
    <div class="container">
    <div class="text-center wow fadeInRight">
      <h4 class="section-title">Cancellation and Refund Policy</h4>
      <p>Thank you for taking the time to read our cancellation policies. In case you need to cancel your transportation, you are entitled to receive a full refund of the amount you originally paid, as long as the cancellation abides by the following policy. </p>
      <h4 class="section-subtitle">Cancellations &amp; Refund:</h4>
      <ul>
        <li>It will be refunded at 100% at least 36 hours prior to your arrival in Cabo by email.</li>
        <li>After this time, we will proceed to cancel your service, but it will not be possible to refund any amount.</li>
        <li>Cancellation requests must be sent to our general email info@insideloscabos.com</li>
        <li>Cancellations placed after your Cabo arrival will not be eligible for refunds.</li>
        <li>Under no other circumstances than the previously stated, will refunds be made.</li>
      </ul>
    </div>
  </div>
  </div>
       </section>		
	
        <!-- Footer Section -->
         <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
    </body>
</html>