<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
             <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
               <a href="#" class="toll-free display_block">
            <i class="fa fa-phone"></i> 1-877-401-1796
        </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->

        
        <!-- Page Header End -->

       <section class="classic-blog-section section-padding" id="blog">
      <!-- Container Starts -->
      <div class="container">       
        <!-- Row Starts -->
        <div class="row">
          <h1 class="section-title wow fadeInUpQuick animated animated visibility">
            About Los Cabos 
          </h1>
<!--          <div class="col-md-12">
          <p class="section-subcontent text-left">The dining scene in Los Cabos is very varied, from the high end class resturants to the less fancy but also great restaurants of both cities. The area with the best restaurants is San Jose del Cabo. Cabo San Lucas has more restaurants but they are generally more popular, more commercial. For those who love fine dining there are not so many options in Cabo San Lucas -- not as many as in San Jose. </p>
          </div>-->
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Starts -->
            <div data-wow-delay="0.3s" class="blog-item-wrapper wow fadeIn animated clearfix animated about_html">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="about-us" src="assets/img/about1.jpg" class="img-responsive">
                </a>   
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">About Los Cabos </a></h3>
                <p>
               Amazing coastal scenery, dramatic cactus-dotted desert landscapes and miles of white sandy beaches. Los Cabos is the place where you can truly relax and enjoy life, now wonder it is prefered by thousands of American Visitors and residents. It`s geographical separation from mainland Mexico, has given this area a distinct "north-of-the-border" atmosphere and attitude. The more secluded town of San Jose del Cabo reflects this life-style, while retaining a serene atmosphere, Shopping in Caboperfect for relaxing on the beach and romantic dinners by candlelight.
                </p>        
                <p>Its sister city, Cabo San Lucas, is a bustling center of activity, and is considered by many visitors to be the center of the Los Cabos resort scene. Along with its sparkling nightlife, gourmet restaurants, and superb shopping, the busy marina offers delightful experiences such as an afternoon Sunset Cruise or a stroll to the sport fishing dock to view the day's catch. The area offers endless opportunities for sightseeing in town, out in the country or out on the water. </p>
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                              <div class="blog-one-footer">    
<!--                                  <a href="http://www.flora-farms.com" target="_blank">www.flora-farms.com</a>  
                                  <a>Phone: 624-144- 6262</a>   -->
                                   <a target="_blank" href="contact.html" class="pull-right btn btn-common white">Get a Quote</a>                         
                              </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
          
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Start-->
            <div data-wow-delay="0.6s" class="blog-item-wrapper wow fadeIn animated animated about_html">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                   <img alt="about-us" src="assets/img/airportinfo/2.png" class="img-responsive">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">Fishing, Golf, Snorkeling and More...</a></h3>
                <p>
                 Los Cabos crystalline waters are teeming with sea life, which makes this place unique and an ideal spot for snorkeling and diving. This place is renowned for the best game fishing in the world, diplaying over 800 species of game fish. Novices and experienced fishermen can be sure to experience the thrill of hooking a Marlin, sailfish or dorado, to name just a few. 
                </p>     
                <p>If adventure is the name of the game for you, escape to the rugged outback on an ATV and take a drive through the desert. You may also enjoy horseback ride on the beach at sunset. Find more information on "Things to Do".</p>         
                </div>
                <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">   
<!--                 <a target="_blank" href="http://www.acrebaja.com"> www.acrebaja.com</a>  
                <a>Phone: (624) 17-18226</a>   -->
                 <a target="_blank" href="contact.html" class="pull-right btn btn-common white">Get a Quote</a>  
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>          
          
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_1">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="about-us" src="assets/img/about4.jpg" class="img-responsive">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">Shopping and Nightlife </a></h3>
                <p>
             When you get tired, there is always a sunset stroll along one of the many beaches. Lover's Beach is a favorite, where the waters of the Sea of Cortez and the Pacific meet in an array of blue nuances. What an amazing time to feel the breeze in your hair and listen to sound of the waves mixed with the distant cries coming from the birds colonies nesting on the off-shore rocks! As Los Cabos has grown, so have the opportunities for shopping. Visitors will find many souvenir shops selling all types of Mexican handicrafts, silver, and ceramics. 
                </p>
                <p>Ah, at last! the freedom you've been dreaming of is here for you to enjoy. Nightlife in Los Cabos is primarily centered in San Lucas. Many bars and restaurants close at 10 or 11 p.m., but your nightlife choices can continue until the wee hours for those looking to party till morning. </p>
              </div>
                <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
<!--                 <a target="_blank" href="http://www.pitahayas.com "> www.pitahayas.com </a>  
                <a>Phone: (624) 1458010</a>   -->
                 <a target="_blank" href="contact.html" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
          


        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>

        <!-- Footer Section -->
         <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
    </body>
</html>