<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       

    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
             <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
               <a href="#" class="toll-free display_block">
            <i class="fa fa-phone"></i> 1-877-401-1796
        </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->

        
        <!-- Page Header End -->

       <section class="classic-blog-section section-padding" id="blog">
      <!-- Container Starts -->
      <div class="container">       
        <!-- Row Starts -->
        <div class="row">
          <h1 class="section-title wow fadeInUpQuick animated visibility">
            Fishing
          </h1>
          <div class="col-md-12">
          <p class="section-subcontent text-left" >Cabo San Lucas is known around the world for it's sportfishing. The waters of the Baja are full of world-class billfish and prized catches like Tuna, Snapper, Marlin, Mahi Mahi, Wahoo, and more. People from all over the world come to Cabo San Lucas to go fishing - it's waters are legendary. Please insert slider instead of the photo in the Fishing page, find photos for slider here.  </p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Starts -->
            <div data-wow-delay="0.3s" class="blog-item-wrapper wow fadeIn animated clearfix about_html">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/fishing/1.jpg">
                </a>   
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">MARINA AT PUERTO LOS CABOS </a></h3>
                <p>
               The Marina at Puerto Los Cabos is the gateway to the Sea of Cortez and the world’s fines sportfishing grounds. Just ten miles from the renowned Gordo Banks, Puerto Los Cabos fishing departures put you closer to the fish that "didn't get away" providing you with the most memorable deep-sea, big game fishing experiences of a lifetime and making it dollar for dollar the best alternative for fishing in Los Cabos.
                </p>                
                <p>With slips that hold boats of up to 400 feet in length the Marina at Puerto Los Cabos provides the most exclusive, all-inclusive, secure, fully enjoyable and relaxing destination experience that you will find anywhere in Mexico. A “4 S” Marina, that provides security, service, shelter and serenity in pristinely beautiful natural surroundings in a friendly, service oriented tranquil atmosphere. Currently the Marina at Puerto Los Cabos have 200 slips available and a boatyard with Drystack and a 150-ton travel lift in place.</p>
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                              <div class="blog-one-footer">    
                                  <a href="www.puertoloscabos.com" target="_blank">www.puertoloscabos.com</a>  
                                  <a>Phone: 624-1056028</a>   
                                   <a class="pull-right btn btn-common white" href="#" target="_blank">Get a Quote</a>                       
                              </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
          
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Start-->
            <div data-wow-delay="0.6s" class="blog-item-wrapper wow fadeIn animated about_html">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/fishing/2.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">MARINA AT CABO SAN LUCAS </a></h3>
                <p>
                 The IGY's Cabo San Lucas marina features 380 slips and accommodates vessels up to 375' (114m) with a max 26' (7m) draft and boasts the highest quality services and amenities expected at a luxury yachting marina. Strategically located in the harbor of Cabo San Lucas, at the very tip of the Baja Peninsula, the marina hosts renowned sport fishing tournaments for marlin, tuna, dorado, and wahoo. With many offerings located on-site and just steps away including diverse charters, restaurants, entertainment and shopping venues, Marina Cabo San Lucas is clearly one of the globe’s foremost sport fishing destinations.</p>
                </div>
                <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">   
                 <a target="_blank" href="http://www.igy-cabosanlucas.com/">http://www.igy-cabosanlucas.com/</a>  
                <a>Phone: 624-1431251</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                                  
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>          
          
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper clearfix wow fadeIn animated about_html">
              <div class="blog-item-img col-sm-12 clearfix section_height">
                <a href="#">
                  <img alt="insideloscabos-calendar" src="assets/img/fishing/fishing-calender.png" class="img-responsive">
                </a>
              </div>
              
               
            </div><!-- Blog Item Wrapper Ends-->
          </div>

          

          


        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>

        <!-- Footer Section -->
         <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
    </body>
</html>