<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       

    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
             <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
               <a href="#" class="toll-free display_block">
            <i class="fa fa-phone"></i> 1-877-401-1796
        </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->

        
        <!-- Page Header End -->

       <section class="classic-blog-section section-padding" id="blog">
      <!-- Container Starts -->
      <div class="container">       
        <!-- Row Starts -->
        <div class="row">
          <h1 class="section-title wow fadeInUpQuick animated visibility">
            Golf
          </h1>
          <div class="col-md-12">
          <p class="section-subcontent text-left" >The Los Cabos region is famous for superb golf courses, great weather, and fabulous views.  Most of the courses are in the corridor between Cabo San Lucas and San Jose Del Cabo. Los Cabos now features 8 world-class golf resorts, some with multiple courses. Click below for a more in-depth review of all courses in Los Cabos. </p>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Starts -->
            <div data-wow-delay="0.3s" class="blog-item-wrapper wow fadeIn animated clearfix about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/1.jpg">
                </a>   
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">PUNTA SUR GOLF COURSE </a></h3>
                <p>
                Punta Sur is the oldest course in Los Cabos - it opened in 1987 - and it's still a locals' favorite, since the 9-hole course is both beginner and budget friendly. The 3,153 yard layout is generally flat, with narrow fairways, moderate bunkering and one major water hazard. The views are nice but not spectacular, with glimpses of the Sea of Cortés and the Sierra de la Laguna mountain range. The Mayan Palace resorts group bought Punta Sur in 2004, and it's currently open to hotel guests at the Grand Mayan Los Cabos on San José del Cabo's Playa Hotelera, as well as the general public. Rentals and golf gear are available at the pro shop, and there is a small practice area.
                </p>                
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                              <div class="blog-one-footer">    
                                  <a href="http://www.vidantagolf.com" target="_blank"> www.vidantagolf.com</a>  
                                  <a>Phone: (624) 1420900 </a>   
                                   <a class="pull-right btn btn-common white" href="#" target="_blank">Get a Quote</a>                       
                              </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
          
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Start-->
            <div data-wow-delay="0.6s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/2.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">CLUB CAMPESTRE </a></h3>
                <p>
                   Yet another great Los Cabos course by Jack Nicklaus. Club Campestre opened in 2007, with a 6,966 yard layout tucked into the foothills of the Sierra de la Laguna. The expansive fairways are seeded with seashore papsalum, a coastal grass that provides consistently good lies, even if you feel like you're standing at a 45 degree angle. Like most local Nicklaus designs, the course is long on dramatic elevation changes, uneven stances, and diabolical greens. Three putts are the enemy at Club Campestre, as the the fairways are pretty forgiving. Aside from the challenging conditions, the best part about the course is its rugged beauty. As at almost all the top local links, there are some beautiful Sea of Cortés views.
                </p>
               
                </div>
                <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">   
                 <a target="_blank" href="http://www.questrogolf.com"> www.questrogolf.com</a>  
                <a> Phone: (624) 17-39400</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                                  
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>          
          
          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/3.jpg" class="img-responsive">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">CABO DEL SOL DESERT COURSE  </a></h3>
                <p>
                  Jack Nicklaus' Ocean Course gets all the plaudits, but Tom Weiskopf's superb Desert Course also deserves its share of praise. The inland layout plays from five sets of tees, ranging from 5,300 to 7,100 yards in length, and provides a challenging test for players of all skill levels. Weiskopf's course design takes advantage of the existing terrain, and the loop snakes through canyons, washes and arroyos, with water in play from lakes and waterfalls, and plenty of uneven stances due to frequent elevation changes. Best of all, there are lovely views of the Sea of Cortés throughout the course.
                </p>
                
              </div>
                <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="http://www.cabodelsol.com ">www.cabodelsol.com </a>  
                <a>Phone: (624) 145-6360</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/4.jpg" class="img-responsive">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">CABO SAN LUCAS COUNTRY CLUB</a></h3>
                <p>
                   One of the oldest and finest of the local links, this lengthy 7,220 yard loops offers wide fairways that wind elegantly through both desert and mountain terrain, and often bordered by bougainvillea, palo blanco trees and towering cardón, the largest species of cactus in the world. Spectacular views of Land's End and El Arco are visible from several vantage points, and make this an unforgettable set-up from designer Roy Dye. The course is not only long, but demanding, with plenty of bunkering and water hazards. The par 5 7th hole is particularly memorable, a 610-yard double dog-legged demon with a bunker guarded green, and lots of opportunities for splash downs. The driving range is also popular - particularly at night - with snacks and drinks available.</p>
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="www.cabocountry.com">www.cabocountry.com</a>  
                <a>Phone: 624-143-4653</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/5.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">CABO REAL </a></h3>
                <p>
                  Of all the great courses in Los Cabos, Cabo Real is one of the least heralded, although it is the only area layout to host two PGA Senior Grand Slam Events. Cabo Real boasts a sweet set-up, with lush fairways, swaying palm trees, towering cactus plants and superb Sea of Cortévs views. Despite the beauty of the natural surroundings, it's a tough loop for both high and low handicappers, and Robert Trent Jones II's design plays 7,037 yards from the black tees. The front nine is the sternest test, with some early par fives and a whole lot of desert. The back nine gets a little easier, so you can relax a little bit and enjoy the scenery. And there are some interesting sights here, from a bikini-rich pool deck to the occasional glimpse of whales breaching near the shore.
                </p>                
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="www.questrogolf.com/our-courses/cabo-real ">www.questrogolf.com</a>  
                <a>Phone: 624- 144-0040</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-md-12 custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/6.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">PALMILLA GOLF CLUB</a></h3>
                <p>
                Jack Nicklaus has designed so many great golf courses in Los Cabos, he should be eligible for dual citizenship. Palmilla is one of his crown jewels. This is one of three local courses that have been ranked among the best in the world, and the landscaping and views here are magnificent. There are 27 holes total, stretching over three nine-hole courses: The Ocean Course, The Mountain Course, and The Arroyo Course. The Ocean Course, with its stunning views of the Sea of Cortés, is the most visually breathtaking of the three. There are five sets of tee boxes at the courses, catering to low and high handicappers alike.
                </p>               
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="www.palmillagc.com">www.palmillagc.com</a>  
                <a> Phone: (624) 144-5250</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>

          <div class="col-md-12  custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/7.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">PUERTO LOS CABOS GOLF COURSE </a></h3>
                <p>
Two-time major champion Greg "The Great White Shark" Norman meets 18-time major champion and local golf icon Jack "The Golden Bear" Nicklaus in one of the area's most unique layouts. Norman designed the front nine Mission Course, Nicklaus the back nine Ocean Course. Both courses are eventually expected to be expanded into separate 18-hole loops, but for now golfing fans can get a first hand look at the contrasting design styles of these links legends. The highlight of Norman's nine are the spectacular seaside vistas from the elevated 6th hole tee box. Nicklaus' back nine boasts one of the longest par-fours in all of Los Cabos, the challenging 498-yard 16th.
                </p>
                
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="www.puertoloscabos.com">www.puertoloscabos.com</a>  
                <a> Phone: (624) 173-9400</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
         
 <div class="col-md-12  custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/8.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">QUIVIRA GOLF CLUB  </a></h3>
                <p>
Quivira is legendary golfer and designer Jack Nicklaus' sixth local layout. Set on the Pacific Coast north of Cabo San Lucas, this 7,139 yard resort course is gorgeous in every respect, with 18 holes winding spectacularly along sheer cliffs, and through desert foothills and windswept dunes. Seven holes hug the coast, and ocean views are available from all 18 fairways (keep your eyes peeled for seasonal glimpses of migrating whales). In addition to stunning scenery, there are four mid-course comfort stations serving up cocktails and tasty treats (burritos, anyone?), while more filling fare is available pre or post-round at the onsite steakhouse.
                </p>
                
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="quiviragolfclub.com">quiviragolfclub.com</a>  
                <a> Phone: (624) 142-9973</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
          
           <div class="col-md-12  custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/9.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">CABO DEL SOL OCEAN COURSE  </a></h3>
                <p>
Los Cabos has drawn a host of legendary names to design the ever-increasing number of championship-level loops in the region, but nonpareil golfer Jack Nicklaus was the one who put the area on the map. The Ocean Course at Cabo del Sol is considered by many to be his masterwork, and is currently ranked as one of the top 100 courses in the world. Nicklaus himself has called it "the best golf property I've ever seen." Cabo del Sol is first-class in every respect, with dramatic vistas of desert, mountain and sea, and seven holes bordering the Sea of Cortés. The Ocean Course plays long at 7075 yards, with plenty of elevation changes and undulating greens to challenge both high and low handicappers.
                </p>
                
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="www.cabodelsol.com">www.cabodelsol.com</a>  
                <a> Phone: (624) 145-6300</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
          
           <div class="col-md-12  custom-section">
            <!-- Blog Item Wrapper Starts-->
            <div data-wow-delay="0.9s" class="blog-item-wrapper wow fadeIn animated about_html_2">
              <div class="blog-item-img col-sm-12 col-md-6">
                <a href="#">
                  <img alt="insideloscabos-img" src="assets/img/golf/10.jpg">
                </a>
              </div>
              <div class="blog-item-text col-sm-12 col-md-6">
                <h3 class="small-title"><a href="#">DIAMANTE GOLF COURSE  </a></h3>
                <p>On one of the most pristine beaches anywhere along the Pacific Ocean, you’ll find one of the most spectacular golf courses and facilities anywhere — The Dunes Course at Diamante, ranked #38 in the world by GOLF Magazine, complete with an awe-inspiring, 14-acre practice and performance center. Add to that our professional caddie service, resort-style clubhouse and complimentary course-side gourmet comfort stations, and you’ve got an unforgettable experience. When Dunes Course designer Davis Love III first arrived on the Diamante site, he said, “It was like pulling up to St. Andrews.” Golf at Diamante does share some similarities with the classic links courses in Scotland and Ireland. But here, the weather is warmer. 
                </p>
                
              </div>
              <div class="row clearfix">
                <div class=" col-sm-12 blog-item-text">
                  <div class="blog-one-footer">
                 <a target="_blank" href="https://www.diamantecabosanlucas.com/cabo-golf-courses/golf-at-diamante/">https://www.diamantecabosanlucas.com</a>  
                <a> Phone: (624) 172-5812</a>   
                 <a target="_blank" href="#" class="pull-right btn btn-common white">Get a Quote</a>                               
                </div>
                 </div>
              </div>
            </div><!-- Blog Item Wrapper Ends-->
          </div>
        </div><!-- Row Ends -->
      </div><!-- Container Ends -->
    </section>

        <!-- Footer Section -->
         <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
    </body>
</html>