<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Inside LosCabos</title>
        <meta name="keywords" content="Inside, LosCabos,Inside LosCabos,InsideLosCabos, trip advisor,top rated,booknig,travel booking,trip,tour,Cabo,Cabo San Lucas,shuttle,Transportation,service,golf,hotel,airport,resturant,private tours,Los Cabos International Airport,TOURISM,reservations,online reservations">
        <meta name="description" content="InsideLosCabos offers transportation from airport to many hotels and recreational areas in Los Cabos . InsideLosCabos provides you with the high class transportation including shuttle service and private transportation at very economical rates.">
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <!-- Responsive Style -->
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
        <!--Fonts-->
        <link rel="stylesheet" media="screen" href="assets/fonts/font-awesome/font-awesome.min.css">
        <link rel="stylesheet" media="screen" href="assets/fonts/simple-line-icons.css">    

        <!-- Extras -->
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/owl/owl.theme.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/animate.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/normalize.css">
        <link rel="stylesheet" type="text/css" href="assets/extras/settings.css">

        <!-- Color CSS Styles  -->  
        <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css" media="screen" />       



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
    </head>
    <body>

        <!-- Header area wrapper starts -->
        <header id="header-wrap">
            <!-- Header area starts -->
             <section id="header">

                <!-- Navbar Starts -->
                <nav class="navbar navbar-light" data-spy="affix" data-offset-top="50">
                    <div class="container">
                        <button class='navbar-toggler hidden-md-up pull-xs-right' data-target='#main-menu' data-toggle='collapse' type='button'>
                            ☰
                        </button>
                        <!-- Brand -->
                        <a class="navbar-brand logo" href="index.html">
                            <img src="assets/img/logo.png" alt="insideloscabos-logo">
                        </a>
                        <div class="collapse navbar-toggleable-sm pull-xs-left pull-md-right" id="main-menu">
                            <!-- Navbar Starts -->
                            <ul class="nav nav-inline">
                                <li class="nav-item dropdown">
                                    <a class="nav-link active" href="index.html" role="button" aria-haspopup="true" aria-expanded="false">Home</a>                                  
                                </li>   
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Transportation <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="privatetransportation.html">Private Transportation</a>
                                        <a class="dropdown-item" href="caboshuttle.html">Cabo Shuttle</a> 
                                    </div> 
                                </li>      
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tours <i class="fa fa-angle-down"></i></a>
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="todossantos.html">Todos Santos</a>
                                        <a class="dropdown-item" href="citytour.html">City Tour</a>
                                    </div> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="blog.html" role="button" aria-haspopup="true" aria-expanded="false">Cabo Insider</a>
                                </li>                                 
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Activities <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="dining.html">Dinning</a>
                                        <a class="dropdown-item" href="golf.html">Golf</a>
                                        <a class="dropdown-item" href="fishing.html">Fishing</a>
                                        <a class="dropdown-item" href="shopping.html">Shopping</a>
                                    </div>  
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About Cabo <i class="fa fa-angle-down"></i></a>                    
                                    <div class="dropdown-menu">                      
                                        <a class="dropdown-item" href="airportinfo.html">Airport Info</a>
                                        <a class="dropdown-item" href="whattodo.html">What to Do</a>
                                        <a class="dropdown-item" href="history.html">History & Culture</a>
                                        <a class="dropdown-item" href="qa.html">Questions & Answers</a>
                                    </div>                   
                                </li> 
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="contact.html" role="button" aria-haspopup="true" aria-expanded="false">Contact US</a>                                            </li> 
                            </ul>  
                        </div>              
                    </div>
                </nav>
                <!-- Navbar Ends -->
            </section> 
            <!-- Start Content -->
            <!--Toll Free-->
               <a href="#" class="toll-free display_block">
            <i class="fa fa-phone"></i> 1-877-401-1796
        </a>
            <!-- End Content --> 
        </header>
        <!-- Header-wrap Section End -->

        
        <!-- Page Header End -->

        <section class="classic-blog-section section-padding">
            <div class="container">
                <div class="row">
                    <!-- BLog Article Section -->
                    <div class="col-md-12">
                        <!-- Single Blog Post -->
                        <article class="blog-post-wrapper wow fadeIn" data-wow-delay="0.3s">
                            <!-- Author Info -->
                            <header class="author-info">                                
                                <div class="author-posted">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><img class="img-circle" src="assets/img/blog/avatar/avatar1.jpg" alt="avatar-img"></a>
                                        </div>
                                        <div class="media-body">
                                            <span class="author-name"><a href="#"><b>Robert</b></a></span><br>
                                            <span class="published-time"><i class="fa fa-calendar"></i> 15 Hours ago</span>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <!-- Featured Content -->
                            <section class="featured-wrapper">
                                <a href="#">
                                    <img src="assets/img/blog/blog-post-1.jpg" alt="blog-post-img">
                                </a>
                            </section>
                            <!-- Post Content -->
                            <section class="blog-post-content">
                                <div>
                                    <h2 class="blog-post-title"><a href="#">Planning your Vacations during Hurricane Season? </a></h2>
                                </div>
                                <div class="blog-post clearfix">
                                    <p>Traveling during hurricane season to hurricane-prone locales has its pros and cons -- but if you're going to attempt it, make sure you know these 17 things first. Especially number nine. Most guests aren't going to be caught completely off-guard by a hurricane, according to meteorologist Jason Meyers. </p>
                                    <blockquote class="blockquote">
                                        <p>Infuse your life with action. Don't wait for it to happen. Make it happen. Make your own future. Make your own hope. Make your own love. And whatever your beliefs, honor your creator</p>
                                        <a href="#"><span>- Bradley Whitford</span></a>
                                    </blockquote>
                                    <h3>Tourist Card</h3>
                                    <p>All U.S. citizens visiting Mexico for tourism or study for up to 180 days need a document, called a tourist card in English or FMT in Spanish, to enter and leave Mexico, The airlines will provide you with one prior to landing. Upon entering Mexico, retain and safeguard the pink copy of your tourist card so you may surrender it to Mexican immigration when you depart. You must leave Mexico before your tourist card expires or you are subject to a fine. A tourist card for less than 180 days may be revalidated in Mexico by the Mexican immigration service (Direccion General de Servicios Migratorios).</p>
                                    <h3>Traveling with Minors (Post with image)</h3>
                                    <p>A child under the age of 18 traveling with only one parent must have written, notarized consent from the other parent to travel, or must carry, if applicable, a decree of sole custody for the accompanying parent or a death certificate for the other parent.</b></p>
                                    <img src="https://unsplash.it/600/250?random" class=" img-thumbnail" alt="insideloscabos-img">
                                    <h3>MEXICAN HOLIDAYS</h3>
                                    <p>Banks, government offices and many businesses are closed on these days and hotels fill up quickly:</p>
                                    <p>
                                    </p><ul>
                                        <li>Jan 1: New Year's Day </li>
                                        <li>Feb 5: Constitution Day </li>
                                        <li>Mar 21: Birthday of Benito Juarez </li>
                                        <li>March-April (varies): Holy Week Celebrations, Good Friday through Easter Sunday </li>
                                        <li>May 1: Labor Day </li>
                                    </ul>

                                    <h3>Behave Yourself</h3>
                                    <p>Don't become a criminal yourself; while Cabo's party atmosphere might make you believe anything goes, that's not the case. Mexican authorities do not tolerate excessive drinking and disorderly behavior. It is illegal to disturb the peace, act in a lewd or indecent way, litter, drive drunk, drink on the streets or on public transportation, or make foul or insulting remarks to others. The penalties for drug possession and use are especially severe—authorities can hold you for a year before your case is even tried.</p>                      
                                </div>
                            </section>                            
                        </article>
                        <section class="about-author-section mt-10">
                            <div class="media wow fadeIn " data-wow-delay="0.3s">
                                <div class="media-left">
                                    <a href="#"><img class="img-circle " src="assets/img/blog/avatar/avatarBig1.jpg" alt="insideloscabos-img"></a>
                                </div>
                                <div class="media-body">
                                    <h4>About Writter</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis cumque, quo omnis rem eum ipsam qui. Tempore perspiciatis unde architecto quia, enim consectetur accusamus quasi omnis voluptatibus aliquid rem mollitia incidunt quibusdam eum, sit magnam, repellendus minima nihil iusto vitae ratione dicta, iste. Vitae, architecto.</p>
                                </div>
                            </div>
                            <div class="author-footer text-sm-center">
                                <a class="wow bounceIn" data-wow-delay="0.4s" href="#"><i class="fa fa-facebook icon-box icon-sm"></i></a>
                                <a class="wow bounceIn" data-wow-delay="0.5s" href="#" ><i class="fa fa-twitter icon-box icon-sm"></i></a>
                                <a class="wow bounceIn" data-wow-delay="0.6s" href="#"><i class="fa fa-google-plus icon-box icon-sm"></i></a>
                                <a class="wow bounceIn" data-wow-delay="0.7s" href="#"><i class="fa fa-github icon-box icon-sm"></i></a>
                                <a class="wow bounceIn" data-wow-delay="0.8s" href="#" ><i class="fa fa-dribbble icon-box icon-sm"></i></a>
                                <a class="wow bounceIn" data-wow-delay="0.9s" href="#"><i class="fa fa-behance icon-box icon-sm"></i></a>
                            </div>
                        </section>
                        <!-- Slider Post -->
                        <div class="similar-post mt-30 clearfix">
                            <h3 class="small-title mb-40 wow fadeIn " data-wow-delay="0.3s">Similar Post</h3>
                            <div class="col-md-3 no-pdl wow fadeIn " data-wow-delay="0.4s" >
                                <a href="#"><img src="assets/img/blog/home-items/img4.jpg" alt="insideloscabos-img" class=""></a>
                                <a href="#"><h2>Planning your Vacations</h2></a>
                            </div>
                            <div class="col-md-3 no-pdl wow fadeIn " data-wow-delay="0.5s">
                                <a href="#"><img src="assets/img/blog/home-items/img5.jpg" alt="insideloscabos-img" class=""></a>
                                <a href="#"><h2> Traveling guide!</h2></a>
                            </div>
                            <div class="col-md-3 no-pdl wow fadeIn " data-wow-delay="0.6s">
                                <a href="#"><img src="assets/img/blog/home-items/img6.jpg" alt="insideloscabos-img" class=""></a>
                                <a href="#"><h2>Swimming in Cabo</h2></a>
                            </div>
                            <div class="col-md-3 no-pdl wow fadeIn " data-wow-delay="0.7s" >
                                <a href="#"><img src="assets/img/blog/home-items/img7.jpg" alt="insideloscabos-img" class=""></a>
                                <a href="#"><h2>Best time to visit</h2></a>
                            </div>
                        </div>
                        <div class="comments-area clearfix mt-50 wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="small-title"><i class="fa fa-comment"></i> Comments</h3>
                            <ul class="media-left comment-list mt-30">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#"><img class=" img-circle" src="assets/img/blog/comment_avatar/avatar1.jpg" alt="insideloscabos-img"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="commentor-info">
                                            <div class="comment-author">
                                                <a href="#">Al Amin Khan</a>
                                                <span class="published-time"><i class="fa fa-calendar"></i> 18 hrs ago</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                                        </div>
                                        <div class="media reply">
                                            <div class="media-body">
                                                <div class="commentor-info">
                                                    <div class="comment-author">
                                                        <a href="#">Saifuddin</a>
                                                        <span class="published-time"><i class="fa fa-calendar"></i> 18 hrs ago</span>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                                                </div>
                                            </div>
                                            <div class="media-right">
                                                <a href="#"><img class=" img-circle" src="assets/img/blog/comment_avatar/avatar2.jpg" alt="insideloscabos-img"></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#"><img class=" img-circle" src="assets/img/blog/comment_avatar/avatar3.jpg" alt="insideloscabos-img"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="commentor-info">
                                            <div class="comment-author">
                                                <a href="#">Shovon Ali</a>
                                                <span class="published-time"><i class="fa fa-calendar"></i> 5 hrs ago</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                                            <a href="#">Reply</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#"><img class=" img-circle" src="assets/img/blog/comment_avatar/avatar4.jpg" alt="insideloscabos-img"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="commentor-info">
                                            <div class="comment-author">
                                                <a href="#">Jon Doe</a>
                                                <span class="published-time"><i class="fa fa-calendar"></i> 1 Day ago</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, et maiores, veniam ipsa quod soluta nam, deleniti assumenda magnam sint sapiente voluptatem commodi eos.</p>
                                            <a href="#">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="new-comment mt-50">
                                <h3 class="small-title">Post new Comment</h3>
                                <form class="mt-30">
                                    <div class="row">
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="sr-only" for="username">Name</label>
                                                <input placeholder="Full Name" id="username" required="" class="form-control" type="text">
                                            </div>
                                        </div><!-- /.col-md-4  -->
                                        <div class="col-md-4 ">
                                            <div class="form-group">
                                                <label class="sr-only" for="useremail">Email</label>
                                                <input placeholder="Email Address" id="useremail" required="" class="form-control" type="email">
                                            </div>
                                        </div><!-- /.col-md-4  -->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="sr-only" for="userurl">Website</label>
                                                <input placeholder="Your Website" id="userurl" required="" class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div><!-- /.col-md-4  -->  
                                    <div class="form-group">
                                        <label class="sr-only" for="usermessage">Message</label>
                                        <textarea placeholder="Type here message" id="usermessage" rows="7" required="" class="form-control"></textarea>
                                    </div> 
                                    <button class="btn btn-common" type="submit"><i class="fa fa-comment"></i> Post Comment</button>      
                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- End -->
                    </div>
            </div>
        </section>

        <!-- Footer Section -->
         <footer>
            <!-- Container Starts -->
            <div class="container">
                <!-- Row Starts -->
                <div class="row section">
                    <!-- Footer Menu Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".2s">
                        <h3 class="small-title">Quick Links</h3>
                        <ul>
                            <li><a href="services.html">Our Services</a></li>
                            <li><a href="index.html">Airport Transportation</a></li>
                            <li><a href="about.html">About Loscabos</a></li>
                            <li><a href="tos.html">Terms Of Services</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- Footer Menu Ends -->
                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn">
                        <h3 class="small-title">
                            About Us
                        </h3>
                        <p>
                            Inside Los Cabos has distinguished itself from the competition by constantly delivering excellence in our service
                        </p>                         
                        <div class="social-footer">
                            <a href="#"><i class="fa fa-facebook icon-round"></i></a>
                            <a href="#"><i class="fa fa-twitter icon-round"></i></a>
                            <a href="#"><i class="fa fa-linkedin icon-round"></i></a>
                            <a href="#"><i class="fa fa-google-plus icon-round"></i></a>
                        </div>           
                    </div>
                    <!-- Footer Widget Ends -->


                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".5s">
                        <h3 class="small-title">Contact Us</h3>
                        <div class="widget">
                            <p> Dial Our Toll free number: </p>
                            <p><i class="fa fa-phone"></i> 1-877-401-1796</p>
                            <a><i class="fa fa-envelope"></i> info@insideloscabos.com</a>
                            <p>Transportation information or Reservation:</p>
                            <a><i class="fa fa-envelope"></i> reservations@insideloscabos.com</a>
                        </div>
                    </div><!-- Footer Widget Ends -->

                    <!-- Footer Widget Starts -->
                    <div class="footer-widget col-md-3 col-xs-12 wow fadeIn" data-wow-delay=".8s">
                        <h3 class="small-title">
                            Subscribe Our Newsletter
                        </h3>
                        <div class="contact-us">

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
                                </div>
                                <button type="submit" class="btn btn-common">Submit</button>
                            </form>
                        </div>
                    </div><!-- Footer Widget Ends -->
                </div><!-- Row Ends -->
            </div><!-- Container Ends -->

            <!-- Copyright -->
            <div id="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright-text">
                                ©  2017 InsideLosCabos <a href="http://insideloscabos.com/index.html">insideloscabos.com</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Copyright  End-->

        </footer>
        <!-- Footer Section End-->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up">
            </i>
        </a>

        <div class="bottom"> <a href="#" class="settings"></a> </div>

        <!-- JavaScript & jQuery Plugins -->
        <!-- jQuery Load -->
        <script src="assets/js/jquery-min.js"></script>
        <!-- Bootstrap JS -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Text Rotator-->
        <script src="assets/js/jquery.mixitup.js"></script>
        <!--WOW Scroll Spy-->
        <script src="assets/js/wow.js"></script>
        <!-- OWL Carousel -->
        <script src="assets/js/owl.carousel.js"></script>

        <!-- WayPoint -->
        <script src="assets/js/waypoints.min.js"></script>
        <!-- CounterUp -->
        <script src="assets/js/jquery.counterup.min.js"></script>
        <!-- ScrollTop -->
        <script src="assets/js/scroll-top.js"></script>
        <!-- Appear -->
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.vide.js"></script>
        <!-- All JS plugin Triggers -->
        <script src="assets/js/main.js"></script>
        <script src="assets/js/color-switcher.js"></script>
    </body>
</html>